/* ----------------        FORGOT SECTION BLOCK          ---------------- */

.forgot_pass_section {
  padding: 20px;
}

.headerForgot {
  font-family: var(--font-Montserrat);
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-content: center;
}

.forgotHeading {
  font-family: var(--font-Nunito);
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.forgotInput {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--light-font-color) !important;
  margin: 10px 20px;
  font-family: var(--font-Nunito);
}

.email_input {
  border-color: var(--btn-background-secondary) !important;
}

.forgotBtn {
  display: flex;
  justify-content: center;
}

.registBtn {
  background: var(--btn-background-secondary);
  color: var(--white-font-color) !important;
  /* font-size: 0.8rem; */
  font-weight: 500;
  font-family: var(--font-Nunito);
  text-align: center;
  border-radius: 8px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.registBtn:hover {
  background: var(--black-color);
}

.form_items_login label {
  font-family: var(--font-Nunito);
  color: var(--light-font-color) !important;
}
